<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<defaultDocument>
			<files>
				<clear />
				<add value="index.html" />
				<add value="Default.htm" />
				<add value="Default.asp" />
				<add value="index.htm" />
			</files>
		</defaultDocument>

		<aspNetCore processPath="dotnet" arguments=".\StockDataWebsite.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
			<environmentVariables>
				<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
			</environmentVariables>
		</aspNetCore>
	</system.webServer>
</configuration>
<!--<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>-->